<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listado de Tarea</title>
    </head>
    <body>
        <h1>Lista de Tareas</h1>
        <ul>
            {% for task in tasks %}
                <li>
                    <h2> <a href="{% url 'task_details' pk=task.pk%}"> {{ task.title }} </a></h2>
                </li>
                {% empty %}
                <li>No hay tareas disponibles.</li>
            {% endfor %}
        </ul>

        <form action="{% url 'task_new' %}">
            <button  type="submit">Nueva Tarea</button>
        </form>
    </body>
</html>